<div class="row">
  <div class="signupForm large-4 medium-6 small-12 columns">
  <form class="" action="index.html" method="post">
    <h4>SAMPLE SIGNUP FORM</h4>
    <div id="emailDiv" class="">
      <label for="email">Email</label>
      <input type="email" id="email" class="">
    </div>
    <div id="fullNameDiv" class="hidden">
      <label for="fullName">Full Name</label>
      <input type="text" id="fullName">
    </div>
    <div id="companyNameDiv" class="hidden">
      <label for="companyName">Company Name</label>
      <input type="text" id="companyName">
    </div>
    <div id="employeesDiv" class="hidden">
      <label for="employees">Company Size</label>
      <input type="text" id="employees">
    </div>
    <div id="phoneDiv" class="hidden">
      <label for="phone">Phone Number</label>
      <input type="text" id="phone">
    </div>
  </form>
  </div>
</div>
